* {
    margin: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Main attributes */

.gray{
   color: rgb(102, 102, 102);
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 7px 30px 8px;
    align-items: center;
}

nav i { 
    cursor: pointer;
}

nav img{
    height: 30px;
    width: 100px;
    margin-left: -200px;
}

#search-box{
    width: 555px;
}

#search-button{
    margin-left:-6px;
    height: 30px;
}

#signin-button{
    background-color: rgb(22, 122, 198);
    color: white;
    height: 30px;
    border-style: none;
    margin-left: 30px;
}
